
  
  html {
    font-size: 62.5%;
  }
  *{
      text-decoration: none;
  }
  
  body.index {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2.3rem;
    line-height: 0.7;
    color: #918ca4;
    background-color: #577d9e;
  }
/* Navigation Bar */


@media screen and (min-width:800px)  {
  

.nav {
    background: #000;
    display: flex;
    padding: 0 1rem;
    align-items: center;

  }
  .logo__image{
      width:90px;
      height:90px;
  }
  
  .list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: 1.6rem;
    opacity: 1;
  }
  
  .nav__item {
    padding-right: 3.1rem;
    padding: 0.4rem 2.1rem;
    border-bottom: 1px solid #222;
    list-style: none;
  }
  
  .nav__item > a {
    color: #d2d0db;
    transition: color 0.3s;
    text-decoration: none;

  }
  
  .nav__item > a:hover {
    color: #fff;
  }
  
    .nav__item {
      border: 0;
    }
    .checkbtn{
      display: none;
    }
    #toggle{
      display: none;
    }
  }
  @media  screen and (max-width:800px) {
    .nav{
    display:flex;
    justify-content:space-between;
      background-color: black;
      flex-wrap: wrap;
      text-align: center;
    
    }
    .list{
      width:100%;
    }
    .nav.list li> a{
        text-decoration: none;
    }
    .logo__image{
    width:100px;
    height:100px;
    }
    .checkbtn{
      color:white;
      opacity: 0.5;
      cursor: pointer;
      padding: 0.5rem 0.8rem 0 0;

      
    }
    .nav__item{
      padding:0.7rem 2rem;
      font-size: 2.5rem;
      margin: 0;
  
    }
    .nav__item>a{
      color:#d2d0db;
      text-decoration: none;
      transition: color 0.3s;
    }
    .nav__item>a:hover{
      color:#fff;
    }
    .nav {
      margin-bottom: 1em;
    
    }
    
    .nav > input[type="checkbox"]:checked ~ .list {
      padding: 15px;
      border-top: 0;
      display:none;
    }
    #toggle{
      display:none;
    }
    
  }
  /*body-main part*/
  .content{
      grid-area: content;
      font-size: 2rem;
      background-image: url(contentimage.jpg);
      color: #d2d0db;
      text-align: center;
      padding-top: 4rem;
  }
  .content p{
      padding: 0 2rem 2rem 2rem;
      line-height: 3rem;
      margin-bottom: 7rem;
  }
.content__image{
    grid-area: content__image;
}
.container{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas: "content content__image";

}
.abik__image{
    width:100%;
    height: 100%;
    object-fit: cover;
}
 .btn__main{
  border-radius: 40px;
  border: 1px solid #2875b8;
  background-color: #2875b8;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 4rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  color:#b9c3cf;
  margin-left: 2.5rem;
 }
 .btn__main:hover{
   background-color: #217ecf;
 }
 
 
@media screen and (min-width:800px) {
  .grid--cols-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media  screen and (max-width: 800px) {
  .container{
      display:grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas: "content__image"
                             "content";
  }
  .btn__main{
      padding-top: 3rem;
  }
}
/*footer*/
.footer{
  background-color: #232323;
  text-align: center;
  padding-top: 3rem;
}


.footer__logo{
  margin-top: 5rem;
  text-align: center;
}
.footer__copyright{
  font-size: 1.7rem;
  padding-bottom: 4rem;
  color: #fff;
  opacity: 0.3;
  
}
.footerimg{
  width: 150px;
  height: 150px;
}
.footer h1{
    font-size: 3rem;
    
}
  .footer__content{
    text-decoration: none;
    margin: 2rem 4rem 1rem 0rem;
    font-size: 1.6rem;
    line-height: 0.8rem;
  }
  .footer__content ul li>a{
      text-decoration: none;
  }
@media screen and (min-width:800px) {
  .footer{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
  }
  

  }
  .footer__logo{
    order:-1;
  }


  /* Portfolio CSS*/
  .heading{
      text-align: center;
      font-weight: bold;
      font-size: 2.5rem;
      background-color: #b9c3cf;
  }
  .database{
      grid-area: database;
      background-color:  #d2d0db;
      
      
  }
  .web{
    grid-area: web;
    background-color:  #d2d0db;
}
.communication{
    grid-area: communication;
    background-color:  #d2d0db;
}
.software{
    grid-area: software;
    background-color:  #d2d0db;
}
.problem{
    grid-area: problem;
    background-color:  #d2d0db;
}
.system{
    grid-area: system;
    background-color:  #d2d0db;
}
.modules__container{
    padding-left: 2rem;
    width:100%;
    height:100vh;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: auto;
    grid-template-areas: "database web communication"
                          "software problem system";
                          grid-gap: 20px;
}
.modules__image{
    width:100%;
    height:60vh;
object-fit: cover;
}
.modules__container h2{
    padding-left: 1.5rem;
    font-weight: bold;
    font-size: 2rem;
}
.modules__container p{
    padding-left: 1.5rem;
    font-size: 1.5rem;
}

.database:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
  .software:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
  .web:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
  .problem:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
  .system:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
  .communication:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
  @media screen and (max-width:800px) {
    .modules__container{
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas: "database"
                            "web"
                            "system"
                            "communication"
                            "software"
                            "problem";
    }
    }
    