/* Blog CSS*/
    
.blog {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    background: #f1f1f1;
  }
  
  .header {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background:#154c79;
    border-bottom: 1px solid #217ecf;
  }
  .container__blog p{
      padding-left: 1rem;
  }
  
  .blog1 {
    width: 300px;
    background-color: #154c79;
    grid-area: blog1;
  }
  
  .blog1__img {
    background-color: #aaa;
    width: 200px;
  
  }
  .container__blog {
      background-color: #aaa;
    width: 100%;
    display:grid;
    grid-template-columns:33% 34% 33%;
  grid-template-rows: auto;
  grid-template-areas: " blog1 blog2 blog3"
                        "blog4  blog5 blog6 ";
                        grid-gap:20px;
                    
  }
  
  .card {
    background-color:#2596be;
    padding: 20px;
    margin-top: 20px;
  }
  img{
    width:300px;
    height: 200px;
    object-fit: cover;
  }
  h3{
    font-size: 1rem;
  }
  .btn{
    border-radius: 20px;
    border: 1px solid #2875b8;
    background-color: #2875b8;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    margin: 0 8rem 2rem 0;
    outline: 0;
    padding: 1rem 1rem;
    text-transform: uppercase;
    white-space: nowrap;
    text-decoration: none;
    color:#b9c3cf;
    margin-bottom: 2rem;
  
   }
   .btn:hover{
     background-color:#217ecf;
  }
  .blog2__img {
    background-color: #aaa;
    width: 200px;
  }
  .blog2 {
    width: 300px;
    background-color: #154c79;
    grid-area: blog2;
  }
  .blog3 {
    width: 300px;
    background-color: 
    #154c79;
    grid-area: blog3;
  }
  .blog4 {
    width: 300px;
    background-color: 
    #154c79;
    grid-area: blog4}
  .blog5 {
    width: 300px;
    background-color: 
    #154c79;
    grid-area: blog5;
  }
  .blog6 {
    width: 300px;
    background-color: 
    #154c79;
    grid-area:blog6;
  }
  .blog1:hover{
    transform: scale(1.1);
  }
  .blog2:hover{
    transform: scale(1.1);
  }
  .blog3:hover{
    transform: scale(1.1);
  }
  .blog4:hover{
    transform: scale(1.1);
  }
  .blog5:hover{
    transform: scale(1.1);
  }
  .blog6:hover{
    transform: scale(1.1);
  }
  @media screen and (max-width:800px) {
    .container__blog {
      width: 100%;
      display:grid;
      grid-template-columns:100%;
    grid-template-rows: auto;
    grid-template-areas: " blog1"
                         " blog2"
                         "blog3"
                         "blog4"
                         "blog5"
                         "blog6";
                          padding-left: 4rem;
            
    }
  
     
  }